<html layout:decorate="~{layout/layout}" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--메인 시작-->
        <!--포트폴리오 섹션 시작-->
        <section layout:fragment="content" class="col-md-7 col-lg-9 ">
            <div class="row">
                <div class="col-lg-6 ">
                    <div class="card my-3 mx-1 " >
                        <div class="overflow-hidden rounded-top">
                            <img src="/images/gallery1.jpg" class="card-img-top img-fluid" alt="gallery1">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title fw-bold">My 포트폴리오</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-sm btn-white border-dark">스토리 보기</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 ">
                    <div class="card my-3 mx-1" >
                        <div class="overflow-hidden rounded-top">
                            <img src="/images/gallery2.jpg" class="card-img-top img-fluid" alt="gallery2">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title fw-bold">My 포트폴리오</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-sm btn-white border-dark">스토리 보기</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 py-3">
                    <div class="card banner text-center p-3 mx-1">
                        <div class="card-body">
                            <a class="btn btn-outline-light rounded-pill"  data-bs-toggle="modal" data-bs-target="#bannerModal"><i class="bi bi-card-image"></i> 자연으로 열린 공간</a>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="bannerModal" tabindex="-1" aria-labelledby="bannerModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content text-center">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="bannerModalLabel">자연으로 열린공간</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h2>Lorem ipsum dolor sit amet.</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ipsa modi similique ea delectus dolores.</p>
                                <img src="/images/modal-img.jpg" class="img-fluid" alt="modalimg">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, modi? Optio corrupti labore cumque pariatur in odio aperiam fugiat perferendis?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">닫기</button>
                                <a href="#" type="button" class="btn btn-outline-danger" role="button">뉴스 기사 보기</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 ">
                    <div class="card my-3 mx-1" >
                        <div class="overflow-hidden rounded-top">
                            <img src="/images/gallery3.jpg" class="card-img-top img-fluid" alt="gallery3">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title fw-bold">My 포트폴리오</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-sm btn-white border-dark">스토리 보기</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 ">
                    <div class="card my-3 mx-1" >
                        <div class="overflow-hidden rounded-top">
                            <img src="/images/gallery4.jpg" class="card-img-top img-fluid" alt="gallery4">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title fw-bold">My 포트폴리오</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-sm btn-white border-dark">스토리 보기</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 ">
                    <div class="card my-3 mx-1" >
                        <div class="overflow-hidden rounded-top">
                            <img src="/images/gallery5.jpg" class="card-img-top img-fluid" alt="gallery5">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title fw-bold">My 포트폴리오</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-sm btn-white border-dark">스토리 보기</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 ">
                    <div class="card my-3 mx-1" >
                        <div class="overflow-hidden rounded-top">
                            <img src="/images/gallery6.jpg" class="card-img-top img-fluid" alt="gallery6">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title fw-bold">My 포트폴리오</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-sm btn-white border-dark">스토리 보기</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--포트폴리오 섹션 끝-->
<!-- 푸터 영역 시작 -->
<!-- 푸터 영역 끝 -->
</html>