<html layout:decorate="~{layout/layout}" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
            <!-- 포트폴리오 섹션 시작 -->
            <section layout:fragment="content" class="col-md-7 col-lg-9">
                <div class="text-center pb-5">
                    <h2  class="fs-1 fw-bold py-4">About 이젠 인테리어</h2>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus culpa voluptate laudantium accusantium ab dignissimos fugiat. Voluptas, pariatur. Delectus, laudantium.</p>
                </div>
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">이젠 소개</button>
                      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">자격 사항</button>
                      <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">경력 사항</button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                        <h3 class="mt-5">이젠 Kim</h3>
                        <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, tempore?
                        </p>
                        <img src="images/profile-tab1.jpg" alt="탭 사진" class="img-fluid">
                        <h4 class="mt-5">Lorem, ipsum dolor.</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis animi ratione ipsa commodi similique rerum.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque aut doloremque reprehenderit ratione in molestias nobis vel tempora quis modi!</p>
                        <div class="ratio ratio-16x9">
                            <iframe src="https://www.youtube.com/embed/-I9Q_lJnEs4?si=hxhhGOzR4KF47LxB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis animi ratione ipsa commodi similique rerum.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque aut doloremque reprehenderit ratione in molestias nobis vel tempora quis modi!
                    </p>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                        <div class="m-5">
                            <div class="d-flex align-items-center py-3">
                                <img src="images/certificate1.jpg" alt="자격사항" class="rounded-5">
                                <div class="ms-3">
                                    <h3 class="fw-bold">어워드 1</h3>
                                    <p class="text-muted">Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita praesentium vitae
                                rerum qui aliquam optio adipisci quo, dignissimos molestiae, commodi, assumenda quidem.
                                Natus, error officiis?</p>
                        </div>
                        <div class="m-5">
                            <div class="d-flex align-items-center py-3">
                                <img src="images/certificate2.jpg" alt="자격사항" class="rounded-5">
                                <div class="ms-3">
                                    <h3 class="fw-bold">어워드 2</h3>
                                    <p class="text-muted">Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita praesentium vitae
                                rerum qui aliquam optio adipisci quo, dignissimos molestiae, commodi, assumenda quidem.
                                Natus, error officiis?</p>
                        </div>
                        <div class="m-5">
                            <div class="d-flex align-items-center py-3">
                                <img src="images/certificate3.jpg" alt="자격사항" class="rounded-5">
                                <div class="ms-3">
                                    <h3 class="fw-bold">자격증 1</h3>
                                    <p class="text-muted">Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita praesentium vitae
                                rerum qui aliquam optio adipisci quo, dignissimos molestiae, commodi, assumenda quidem.
                                Natus, error officiis?</p>
                        </div>
                        <div class="m-5">
                            <div class="d-flex align-items-center py-3">
                                <img src="images/certificate4.jpg" alt="자격사항" class="rounded-5">
                                <div class="ms-3">
                                    <h3 class="fw-bold">자격증 2</h3>
                                    <p class="text-muted">Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita praesentium vitae
                                rerum qui aliquam optio adipisci quo, dignissimos molestiae, commodi, assumenda quidem.
                                Natus, error officiis?</p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
                        <div class="m-5 border-bottom">
                            <h3>이젠 인테리어</h3>
                            <p class="text-muted">2010 ~ 2022</p>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium deserunt,
                                repudiandae cumque temporibus consequatur accusamus sapiente. Iure molestias itaque
                                nostrum!</p>
                        </div>
                        <div class="m-5 border-bottom">
                            <h3>인테리어 X</h3>
                            <p class="text-muted">2010 ~ 2022</p>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium deserunt,
                                repudiandae cumque temporibus consequatur accusamus sapiente. Iure molestias itaque
                                nostrum!</p>
                        </div>
                        <div class="m-5 border-bottom">
                            <h3>인테리어 A</h3>
                            <p class="text-muted">2010 ~ 2022</p>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium deserunt,
                                repudiandae cumque temporibus consequatur accusamus sapiente. Iure molestias itaque
                                nostrum!</p>
                        </div>
                    </div>
                </div>  
            </section>
            <!-- 포트폴리오 섹션 끝 -->
</html>